$purple_color: #6c63ff;
$white_color: white;
$purple_ligth_color: #C3C1E5;

@mixin flex($fd, $ai, $gap) {
    display: flex;
    flex-direction: $fd;
    align-items: $ai;
    gap: $gap;
}

.wrapperModal {
    @include flex(column, center, 1px);
    background-color: $white_color;
    border: 1px solid $purple_color; 
    border-radius: 5px;      
    max-width: 560px;   
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -150%);

    h1 {
        color: #252525;
        font: 700 30px Kanit;
        margin-bottom: 20px;
    }
  
    .inpUpDate {
        @include flex(column, center, 20px);
        width: 440px;
        height: 86px;

        input {
            display: flex;
            align-items: center;
            border: 2px solid $purple_color;
            border-radius: 5px;
            padding: 15px 20px;
            outline: none;
            width: 356px;

            &::placeholder {
                color: #a4a3a9;
            }
        }
    }

    .butUpDate {
        display: flex;
        justify-content: space-between;
        width: 390px;
        padding: 80px 0 20px 0;

        .cancelButton {           
            display: block;
            border: 2px solid $purple_color;
            border-radius: 5px;
            padding: 7px 25px;
            background-color: #fff;
            color: $purple_color;
            font: 400 17px Kanit;
            transition: 0.5s;

            &:hover {
                cursor: pointer;
                background-color: #21f65e;
                border: 2px solid #3fe856;
            }
        }

        .applyButton {
            display: block;
            border: 2px solid $purple_color;
            border-radius: 5px;
            padding: 7px 25px;
            background-color: $purple_color;
            color: $white_color;
            font: 400 17px Kanit;
            transition: 0.5s;

            &:hover {
                cursor: pointer;
                background-color: #21f65e;
                border: 2px solid #3fe856;
            }
        }
    }
}